@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.eot);
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.woff) format('woff'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.eot);
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.woff) format('woff'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.eot);
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.woff) format('woff'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.eot);
 src: url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.woff) format('woff'),
      url(https://cdn.rawgit.com/moonspam/NanumSquare/master/NanumSquareL.ttf) format('truetype');
}


@font-face {
      font-family: 'RixYeoljeongdo_Regular';
      src: url('../font/RixYeoljeongdo_Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }




body{font-family: 'RixYeoljeongdo_Regular';}

ul#gnb li{padding-right: 20px; padding-top: 15px;}

.section{ min-height: 100vh; padding: 80px 0; box-sizing: border-box;}
.section h2{text-align: center;}

#hd{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      z-index: 999;
}

#hd li.on a{
      color: red;
}

.scroll #hd{
      background-color: #f4f4f4;
}


#hd h1 img{width:100px;}
#hd a{font-family: 'RixYeoljeongdo_Regular';}
#interview{font-family: 'xeicon';}

.topBtn{
      position: fixed;
      right: 20px;
      bottom: 20px;
      width: 50px;
      height: 50px;
      background-color: salmon;
      transform: translateX(100%);
}

.scroll .topBtn{
      transform: translateX(0);
}

#interview dt{
      border-bottom: 3px solid #222; padding: 0 1rem;
      font-size: 1.2rem;
      line-height: 1.5rem;
}
#interview dd{
      padding: 2rem;
      background-color: #ccc;
      line-height: 1.2rem;
      display: none;
}

#interview dt.on + dd{display: block;}